<div class="row-fluid">
	<div class="steamy-hottub span4 offset4 text-center">
		<h1 class="custom-font">
			Answer <br/> AND <br/>Submit <br/>
		</h1>
		<br/>
		<h5 class="custom-font">
			<%= simple_form_for @pic do |f| %>		
				<%= f.input :hour, label: 'Which Hour was this?', placeholder: '1, 2, 3, etc...'%>
				<%= f.input :image, label: 'How ugly are you right now?' %>
				<%= f.input :emotion, label: 'How did you feel?', placeholder: 'Stoked, Excited, Confused' %>
				<%= f.input :learned, label: 'What did you learn?', placeholder: 'HTML, CSS3, Rails, Ruby, Github' %>

				<br/>

				<%= f.submit 'Save', :class => 'btn btn-warning btn-large' %>
			<% end %>

		</h5>
	</div>
</div>