<div class="row-fluid">
	<div class="steamy-hottub">
		<h2 class="custom-font">
			AO AO AO AO AO AO AO AO AO AO AO AO 

			<%= simple_form_for @pic do |f| %>		
				<%= f.input :hour %>
				<%= f.input :emotion %>
				<%= f.input :learned %>

				<%= f.submit 'Submit' %>
			<% end %>
		</h2>
	</div>
</div>